.cover {
  background-image: url("img/cover.jpg");
  height: 360px;
  width: 900px;
  margin: auto;
  top: -20px;
  position: relative;
}

.cover_button {
  margin-top: 300px;
  margin-left: 130px;
  margin-bottom: 20px;
}

#friend_status:hover .dropdown-menu {
  display: block;
}

#follow_status:hover .dropdown-menu {
  display: block;
}

#more_options:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profile_photo {
  width: 150px;
  height: 150px;
  margin-left: 20px;
  bottom: -380px;
  position: absolute;
  z-index: 1;
  border: solid 5px white;
}

#friend_name {
  color: white;
  bottom: -350px;
  position: absolute;
  margin-left: 50px;
  z-index: 1;
}

.mycontainer {
  width: 900px;
  margin: auto;
}



.affix {
  top: 0;
  width: 360px;
  z-index: 2;
}

.comment {
  width: 100%;
}

.comment_div {
  color: black;
}

.thumbnail {
  margin:-10px;
  padding: 0px !important;
}

#friend_photo {
  width: 140px;
  height: 180px;
  margin: 0 auto;
}

#friend_photo_small {
  width: 120px;
  height: 130px;
  margin: 0 auto;
}

#about,
#friends,
#photos {
  display: none;
}

.post_photo{
  padding: 0;

}

#friend_friends{
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.friends {
  position:relative;
}
.friends .friend_name {
  position:absolute;
  top:60px;
  left:20px;
  width:300px;
  color: white;
}


.tg  {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#ccc;
}
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#fff;
  border-top-width:1px;
  border-bottom-width:1px;
}
.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#f0f0f0;
  border-top-width:1px;
  border-bottom-width:1px;
}
.tg .tg-lfb5{
  font-size:18px;
  font-family:"Trebuchet MS", Helvetica, sans-serif !important;
  vertical-align:top;
}
.tg .tg-9hbo{
 font-weight:bold;
 vertical-align:top;}
