/* icon color: #f0f0f5
	title font:Georgia, "Lucida Console";
	subtle border color:#cfc9c9;
	central part: new post and single-post :margin: 20px 20px;
*/
body{
	background-color: #f0f0f5;
}
#brandname {
	font-style: bold ;
	font-family: Pacifico, sans-serif;
	font-size: 1.8em;
	color: #e62e00;
	padding-left: 3em;
	padding-right: 2em;
}
.navbar-form .input-group{
	width: 40em;
}
.nav .glyphicon-search{
	color: #e62e00;
}
.main-wrapper {
	margin-top:55px;
}
.leftSideBar{
	margin-top: 3em;
}
.left-wrapper{
	position: fixed;
}
.profile-shortcut{
	width: 70%;
	padding: 3px 2px;
}
.profile-shortcut img{
	margin-right: 0.3em;
}
a{
	color: black !important;
}
.profile-shortcut a:hover{
	text-decoration: none;
	color: black;
}
.profile-shortcut:hover{
	background-color: #f0f0f5;
	box-shadow: 2px 2px 1px grey;
}
.profile-shortcut:hover .edit-icon{
	display: inline;
}
.edit-icon{
	margin-left: 3em;
	color: black;
	display: none;
}
.calender{
	margin: 15px 2px;
}
.calender img{
	width: 80%}
.side-title{
	font-weight: bold;
	font-family: Georgia, "Lucida Console";
	margin-bottom: 2px;
}
.new-post, .single-post{
	margin: 20px 20px;
	padding: 10px 20px; 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
    transition: 0.3s;
    background-color: white;
}
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.closebtn:hover {
    color: #000;
}
.new-post-header,  .new-post-footer{
	font-family: Georgia, "Lucida Console";	
	padding: 4px;
}
.modal-header{
    font-family: Arial, Verdana;	
    letter-spacing: 80%;
    font-size: 1em;
	padding-top: 0.7em;
	padding-bottom: 0.3em;
}
#fileToUpload{
	display: none;
}
#postContent{
	min-height: 2em;
	text-align: left;
	position: relative;
}
.modal-footer img, i{
 	margin-right:0.5em;
}
.new-post-header a:hover,.new-post-header a:link,.new-post-header a:visited{
	text-decoration: none;
}
.new-post .btn, .modal-footer a{
	border-radius: 25px;
	background-color: #f0f0f5;
	margin:5px;
}
.new-post-body,.new-post-footer {
	border-top: 0.7px solid #cfc9c9;
	padding: 5px 3px;
}
.new-post-body div{
	display: inline-block;
}
textarea{
	border-style: none;
}
.modal-dialog{
	padding: 2em 2em;
}
.post-owner div{
 display: inline-block;
}
.post-owner{
	margin: 0px;
	padding: 0px;
}
.post-avatar img{
	margin-bottom: 20px;
}

.post-infor p{
	color:grey;
	font-size:0.9em;
}
.post-infor a{
	font-size:1.3em;
	color: #0066a0 !important;
}
.single-post .glyphicon{
	padding-left:0.8em;
	padding-right:0.2em;
	color:grey;
}
.post-body{
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0.5em;
}
.post-body img{
	width: 100%;
	height: auto;
	border:0.02em solid grey;
}
.post-body{
	font-size: 1.2em;
}
.post-body a{
	padding-left: 0.5em;
	color: #0066a0 !important;
}
.post-footer a{
	color: grey !important;
	margin-right: 3em;
}
.post-footer{
	padding: 0;
	margin:0;
}
hr{
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
.usePage-friend-list{
	width: 80%;
	height: 46em;
	margin-left: 0.2em; 
	border-left: 0.02em solid #cfc9c9;
	position: fixed;
	margin-top: 0px;
	padding-top: 1em;
	margin-bottom: 20px;/* */
}
.usePage-friend-list .friend-item{
	padding:0.5em 1em;
}
.friend-item span{
	margin-left: 0.5em;
}
.friend-item .online-icon{
	font-size: 0.6em;
	margin-left: 5em;
	color: green;
}
.rightSideBar-footer{
 position: fixed;
 bottom: 0;
}
.rightSideBar-footer button{
	border:none;
	margin: 0;
	padding: 0.1em 0em;	
	background-color: #e0e0eb;
	width: 2.1em;
	height: 2em;
}
.rightSideBar-footer input{
	width: 9.5em;
	margin: 0;
	padding: 0.1em 0em;	
	border:none;
	height: 2em;
}

